p1{display:inline-block;}  

p2{margin-left: 100px;display:inline-block;}  

p3{padding-bottom: 50px;display:inline-block;}  


p4{padding-top: 50px;display:inline-block;}  

p5{margin-left: 100px;display:inline-block;}  

p6{display:inline-block;}  

p7{margin-top: 50px;margin-left: 70px;margin-bottom: 50px;display:inline-block;}  

p8{margin-top: 50px;}  


p9{margin-top: 50px;}  